<!--<h1>Sessions#new</h1>-->
<!--<p>Find me in app/views/sessions/new.html.erb</p>-->
<div class="text-center mt-4">
<h2>Login</h2>
<%= form_with(model: User.new, url: sessions_path) do |f| %>
  <div class="field">
    <%= f.label :name %><br /><%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br /><%= f.password_field :password %>
  </div>

  <div><%= f.submit 'Login', class: "btn btn-primary m-3" %></div>
  <%= link_to 'Sign Up', signup_path %>
<% end %>
</div>
