<h1>Personal Bookmark</h1>
<table class="table table-striped mt-3">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% current_user.favorites.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= link_to 'Show', book_path(book, state: "bookmark"), class: "btn btn-dark" %>
        <%= link_to "unfavorite", favorite_book_path(book, type: "unfavorite", state: "bookmark"), method: :put, class: "btn btn-warning" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Back', root_path, class: "btn btn-success" %>