<!--<p id="notice"><%#= notice %></p>-->

<h1>Books</h1>

<%= form_with(local: true, method: "get") do |form| %>
  <%= select_tag(:genre_id, options_for_select(@genre, @genre_id)) %>
  <%= form.submit 'Filter', class: "btn btn-primary"%>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books_return.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= link_to 'Show', book, class: "btn btn-dark"%></td>
        <td>
            <%= link_to "favorite",   favorite_book_path(book, type: "favorite"), method: :put, class: "btn btn-success" %>
            <%= link_to "unfavorite", favorite_book_path(book, type: "unfavorite"), method: :put, class: "btn btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Bookmark Page', bookmark_path %>
