<!--<p id="notice"><%#= notice %></p>-->

<h1>Books listed according to popularity ranking</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4 mt-1">
      <%= form_with(local: true, method: "get") do |form| %>
        <%= select_tag(:genre_id, options_for_select(@genre, @genre_id), :onchange => "this.form.submit();", class: "custom-select custom-select-lg") %>
      <% end %>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ISBN</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Popularity Ranking</th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <% @books_return.each do |book| %>
    <tr>
      <td><%= book["isbn"] %></td>
      <td><%= book["title"] %></td>
      <td><%= book["author"]%></td>
      <td><%= book["future_ranking"]%></td>
      <td>
        <%= is_book_in_procurement_list(book) ?
                (link_to "Remove", unpurchase_book_path(get_book(@books, book["isbn"]), isbn: book["isbn"], genre_id: @genre_id, state: "internal"), method: :put, class: "btn btn-warning")
                : (link_to "Acquire", purchase_book_path(get_book(@books, book["isbn"]), isbn: book["isbn"], genre_id: @genre_id), method: :put, class: "btn btn-success") %>
        <%= link_to "Actions", book_actions_path(get_book(@books, book["isbn"]), isbn: book["isbn"], selection: "Actions"), method: :get, class: "btn btn-dark" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Procurement List', list_path, class: "btn btn-primary" %>

