<!--<p id="notice"><%#= notice %></p>-->

<h1>Books listed according to popularity ranking</h1>
<%= form_with(local: true, method: "get") do |form| %>
  <%= select_tag(:genre_id, options_for_select(@genre, @genre_id)) %>
  <%= form.submit 'Filter', class: "btn btn-primary"%>
<% end %>

<table>
  <thead>
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Popularity Ranking</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @books_return.each do |book| %>
    <tr>
      <td><%= book["isbn"] %></td>
      <td><%= book["title"] %></td>
      <td><%= book["author"]%></td>
      <td><%= book["future_ranking"]%></td>
      <td>
        <%= link_to "Add to Procurement List", purchase_book_path(get_book(@books, book["isbn"]), isbn: book["isbn"], selection: "purchase_more"), method: :put, class: "btn btn-success" %>
        <%= link_to "Actions", book_actions_path(get_book(@books, book["isbn"]), isbn: book["isbn"], selection: "Actions"), method: :get, class: "btn btn-warning" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Procurement List', list_path, class: "btn btn-primary" %>
